# How well do GOED's incentives work?
Every year the Governor's Office of Economic Development (GOED) awards millions of dollars in tax incentives to private companies in exchang for the creation of new high-paying jobs in Utah. However, GOED will not release any data about how those deals are progressing. Did the companies actually generate the jobs? No one knows, but GOED. But the Department of Workforce Services keeps track of employment numbers for every firm in the state. So we tracked down historical DWS employment data and then tracked the job growth for every GOED-incentivized company. 

Here's how we did it:
First we import the employment data. The data for 2017 is stored as two csvs, one for Salt Lake County and one for the rest of the states. Those had to be concatenated into one. The rest of the years' data are stored more simply, as one csv.

In [1]:
import pandas as pd

In [2]:
employees_slc2017 = pd.read_csv('sheets/ffind_saltlake_clean_2.csv')

In [3]:
employees_ut = pd.read_csv('sheets/ffind_other_clean.csv')

In [4]:
all_emp2017 = [employees_slc2017, employees_ut]

In [5]:
employees_2017 = pd.concat(all_emp2017)

In [6]:
employees_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97149 entries, 0 to 53482
Data columns (total 16 columns):
YEAR            97149 non-null int64
NAME            97147 non-null object
NAME_CLEAN      43664 non-null object
ADDRESS1        79726 non-null object
ADDRESS2        5723 non-null object
CITY            80318 non-null object
STATE           80319 non-null object
ZIP             80319 non-null float64
COUNTYCODE      97149 non-null int64
COUNTYNAME      97149 non-null object
PHONE           83783 non-null object
EMP_MIN         97149 non-null int64
EMP_MAX         84715 non-null float64
EMPRANGECODE    97149 non-null object
NAICS           97149 non-null int64
OWNERSHIP       97149 non-null object
dtypes: float64(2), int64(4), object(10)
memory usage: 12.6+ MB

In [10]:
employees_2006 = pd.read_csv('sheets/refined/firmfindsept2006_refined-2.csv')

In [13]:
employees_2007 = pd.read_csv('sheets/refined/firmfindsept2007_refined-2.csv')

In [14]:
employees_2008 = pd.read_csv('sheets/refined/firmfindsept2008_refined-2.csv')

In [15]:
employees_2009 = pd.read_csv('sheets/refined/firmfindsept2009_refined-2.csv')

In [16]:
employees_2010 = pd.read_csv('sheets/refined/firmfindsept2010_refined-2.csv')

In [17]:
employees_2011 = pd.read_csv('sheets/refined/firmfindsept2011_refined-2.csv')

In [19]:
employees_2012 = pd.read_csv('sheets/refined/firmfindsept2012_refined-2.csv')

In [20]:
employees_2013 = pd.read_csv('sheets/refined/firmfindsept2013_refined-2.csv', dtype={'': object, 'year': object, 'NAME': object, 'NAME_CLEAN': object, 'Address 1': object, 'Address 2': object, 'City': object, 'State': object, 'Zip': object, 'Phone': object, 'NAICS': object, 'OWN': object, 'County Code': float, 'EMP Range': object, 'EMP_MIN': float, 'EMP_MAX': float,})

In [21]:
employees_2014 = pd.read_csv('sheets/refined/firmfindsept2014_refined-2.csv')

In [23]:
employees_2015 = pd.read_csv('sheets/refined/firmfindsept2015_refined-2.csv')

In [24]:
employees_2016 = pd.read_csv('sheets/refined/firmfindsept2016_refined-2.csv')

In [27]:
employed_2017 = pd.read_csv('sheets/refined/ffind2017_refined-2.csv')

We then concatenated all that employment data into one massive spreadsheet. We ran that spreadsheet through Open Refine, created a new column called NAME_CLEAN and then standardized the names based on a spreadsheet of all the EDTIF agreements.

In [28]:
emp_2006_17 = [employees_2006, employees_2007, employees_2008, employees_2009, employees_2010, employees_2011, employees_2012, employees_2013, employees_2014, employees_2015, employees_2016, employed_2017]

In [29]:
all_emp = pd.concat(emp_2006_17)

Then we imported a csv that contained all the GOED EDTIF agreements going back to 2006. We used a script to make every entry capitalized, so that it would be compatible with the all employment data, which is capitalized.

In [30]:
edtif = pd.read_csv('sheets/CleanEdtifAll_2.csv')

In [31]:
edtif_caps = edtif.apply(lambda x: x.astype(str).str.upper())

We then merged the two files, the employment csv and the incentives csv, on the 'NAME_CLEAN' column. And from there we can look at each individual company and see their employment overtime.

In [32]:
merge = pd.merge(all_emp, edtif_caps, on='NAME_CLEAN')

In [28]:
merge.head()

,ADDRESS1,ADDRESS2,CITY,COUNTY,COUNTYCODE,EMP RANGE,EMP_MAX,EMP_MIN,EMP_MIN 1,EMP_MIN 2,...,Maximum_Cap_Incentive,per job cost,start_year_min,start_year_max,end_year_min,end_year_max,min_2017,max_2017,min_growth,max_growth
0,NaN,NaN,NaN,35.0,NaN,50-99,99.0,50.0,NaN,NaN,...,"$85,000,000","$71,729.96",NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
1,NaN,NaN,NaN,35.0,NaN,50-99,99.0,50.0,NaN,NaN,...,"$11,146,615","$55,733.08",NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
2,NaN,NaN,NaN,35.0,NaN,50-99,99.0,50.0,NaN,NaN,...,"$85,000,000","$71,729.96",NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
3,NaN,NaN,NaN,35.0,NaN,50-99,99.0,50.0,NaN,NaN,...,"$11,146,615","$55,733.08",NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
4,NaN,NaN,NaN,35.0,NaN,50-99,NaN,NaN,50.0,99.0,...,"$85,000,000","$71,729.96",NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN

In [29]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4839 entries, 0 to 4838
Data columns (total 39 columns):
ADDRESS1                                      4422 non-null object
ADDRESS2                                      240 non-null object
CITY                                          4438 non-null object
COUNTY                                        4383 non-null float64
COUNTYCODE                                    456 non-null float64
EMP RANGE                                     4730 non-null object
EMP_MAX                                       4178 non-null float64
EMP_MIN                                       4366 non-null float64
EMP_MIN 1                                     364 non-null float64
EMP_MIN 2                                     350 non-null float64
NAICS                                         4839 non-null object
NAME_x                                        4839 non-null object
NAME_CLEAN                                    4839 non-null object
OWN                                           4839 non-null object
PHONE                                         2770 non-null object
STATE                                         4438 non-null object
WEB ADDRESS                                   135 non-null object
YEAR                                          4839 non-null int64
ZIP                                           4438 non-null object
YEAR_EDTIF                                    4839 non-null object
NAME_y                                        4839 non-null object
FIRMFIND                                      4839 non-null object
Location                                      4839 non-null object
Incentive_Type                                4839 non-null object
Term                                          4839 non-null object
Projected_Jobs                                4839 non-null object
Projected_New_State_Tax_Revenue_Over_Term     4839 non-null object
Projected_Capital_Investment                  4839 non-null object
Projected_New_State_Wages                     4839 non-null object
Maximum_Cap_Incentive                         4839 non-null object
per job cost                                  4839 non-null object
start_year_min                                4839 non-null object
start_year_max                                4839 non-null object
end_year_min                                  4839 non-null object
end_year_max                                  4839 non-null object
min_2017                                      4839 non-null object
max_2017                                      4839 non-null object
min_growth                                    4839 non-null object
max_growth                                    4839 non-null object
dtypes: float64(6), int64(1), object(32)
memory usage: 1.5+ MB

In [37]:
merge.to_csv('merged2.csv')

In [38]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4850 entries, 0 to 4849
Data columns (total 39 columns):
ADDRESS1                                      4433 non-null object
ADDRESS2                                      241 non-null object
CITY                                          4449 non-null object
COUNTY                                        4394 non-null float64
COUNTYCODE                                    456 non-null float64
EMP RANGE                                     4741 non-null object
EMP_MAX                                       4188 non-null float64
EMP_MIN                                       4376 non-null float64
EMP_MIN 1                                     365 non-null float64
EMP_MIN 2                                     351 non-null float64
NAICS                                         4850 non-null object
NAME_x                                        4850 non-null object
NAME_CLEAN                                    4850 non-null object
OWN                                           4850 non-null object
PHONE                                         2781 non-null object
STATE                                         4449 non-null object
WEB ADDRESS                                   135 non-null object
YEAR                                          4850 non-null int64
ZIP                                           4449 non-null object
YEAR_EDTIF                                    4850 non-null object
NAME_y                                        4850 non-null object
FIRMFIND                                      4850 non-null object
Location                                      4850 non-null object
Incentive_Type                                4850 non-null object
Term                                          4850 non-null object
Projected_Jobs                                4850 non-null object
Projected_New_State_Tax_Revenue_Over_Term     4850 non-null object
Projected_Capital_Investment                  4850 non-null object
Projected_New_State_Wages                     4850 non-null object
Maximum_Cap_Incentive                         4850 non-null object
per job cost                                  4850 non-null object
start_year_min                                4850 non-null object
start_year_max                                4850 non-null object
end_year_min                                  4850 non-null object
end_year_max                                  4850 non-null object
min_2017                                      4850 non-null object
max_2017                                      4850 non-null object
min_growth                                    4850 non-null object
max_growth                                    4850 non-null object
dtypes: float64(6), int64(1), object(32)
memory usage: 1.5+ MB